
body {
    background-color:skyblue;

    background-image: url('images/Allura - Freelancing (4).png');
    background-position: left-center; /* Pour centrer l'image */
    background-repeat: no-repeat; /* Pour ne pas répéter l'image */
    height: 100vh; /* Pour que le body prenne toute la hauteur de la fenêtre */
    margin: 0; /* Pour enlever les marges par défaut */
   

}

.typewriter  {
            overflow: hidden; /* Masque le texte */
            border-right: .15em solid #FF0000; /* Curseur */
            white-space: nowrap; /* Empêche le retour à la ligne */
            margin: 0 auto; /* Centre le texte */
            letter-spacing: .15em; /* Espacement des lettres */
            animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite; /* Animation de saisie */
        }



        @keyframes typing {
            from { width: 0 }
            to { width: 100% }
        }

        @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: transparent; }
        }


.login-container {
    background-color:ghostwhite; /* Rouge avec une transparence pour l'effet filigrane */
    color:#FF0000;
    border-color: #FF0000;
    width: 100%;
    max-width: 400px;
    padding: 50px; /* Réduit pour mieux voir l'ombre autour */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.9); /* Ombre noire plus prononcée */
    transition: opacity 5s ease, transform 1s ease;
    opacity: 1; /* Ajusté pour la visibilité immédiate (ou appliquez avec JS après chargement) */
    transform: translateX(50px);
}

 .btn-primary {
            background-color: #FF0000; /* Couleur rouge */
            border: none;
            color: white;
            font-weight: bold;
            font-size: 1rem;
            width: 150px;
            border-radius: 20px;
        }
        h2{
            background-color: ghostwhite;
            color: #FF0000;
        }

.fade-in {
    opacity: 2;
    transform: translateX(0);
}
.custom-line {
    border: none; /* Pas de bordure par défaut */
    height: 2px; /* Épaisseur de la ligne */
    background-color: #FF0000; /* Couleur de la ligne */
    width: 50%; /* Largeur de la ligne */
    margin: 20px auto; /* Centre la ligne */
}

.animated-banner {
            opacity: 0;
            animation: slideInZoom 2s ease forwards;
        }

        @keyframes slideInZoom {
            0% {
                transform: translateY(-50px) scale(0.5);
                opacity: 0;
            }
            50% {
                transform: translateY(10px) scale(1.1);
                opacity: 0.9;
            }
            70% {
                transform: translateY(-5px) scale(1);
            }
            100% {
                transform: translateY(0) scale(1);
                opacity: 1;
            }
        }
